/*
      Variables
      -------------------------
 */
/*
      Mixins
      -------------------------
 */
/**
Usage: @include keyframes(name) {
          ...rules...
        }
 */
a, a:hover, a:visited, a:focus {
  text-decoration: none; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  line-height: inherit !important; }

.row.no-gutter {
  margin-left: 0;
  margin-right: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.noscroll {
  overflow: hidden; }

.scroll {
  overflow: scroll; }

.screen-reader-text {
  width: 0;
  height: 0;
  position: absolute !important;
  overflow: hidden; }

.embed-responsive-ipad-portrait {
  padding-bottom: 133.3%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain; }
  header .nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: medium;
    font-weight: bold;
    border-radius: 0;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    header .nav-container .nav-toggle {
      position: relative;
      width: 100%;
      height: 2.5em;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
      z-index: 3; }
      header .nav-container .nav-toggle:focus {
        outline: none; }
      header .nav-container .nav-toggle span {
        position: absolute;
        width: 2em;
        height: 4px;
        background: #FFF;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
        header .nav-container .nav-toggle span::before, header .nav-container .nav-toggle span::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #FFF;
          left: 0; }
        header .nav-container .nav-toggle span::before {
          top: -10px; }
        header .nav-container .nav-toggle span::after {
          bottom: -10px; }
        header .nav-container .nav-toggle span::before {
          transition-property: top, transform; }
        header .nav-container .nav-toggle span::after {
          transition-property: bottom, transform; }
        header .nav-container .nav-toggle span::before, header .nav-container .nav-toggle span::after {
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s; }
    header .nav-container.is-active .nav-toggle span {
      background: none; }
      header .nav-container.is-active .nav-toggle span::before {
        top: 0;
        transform: rotate(45deg); }
      header .nav-container.is-active .nav-toggle span::after {
        bottom: 0;
        transform: rotate(-45deg); }
      header .nav-container.is-active .nav-toggle span::before, header .nav-container.is-active .nav-toggle span::after {
        transition-delay: 0s, 0.3s; }
    header .nav-container nav.main-navigation .search-form {
      display: inline-block;
      position: relative;
      padding: 6px 15px;
      font-size: 1em;
      transform: translateY(2px); }
      header .nav-container nav.main-navigation .search-form .jk-font.icon-search {
        position: absolute;
        left: 22px;
        top: 9px; }
      header .nav-container nav.main-navigation .search-form .search-field {
        padding: .2em .5em .05em 1.5em;
        border-radius: 2em;
        background: #fff;
        border: 1px solid #ccc;
        line-height: 1.7em;
        font-size: medium;
        font-weight: normal;
        width: 0;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
        header .nav-container nav.main-navigation .search-form .search-field:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.6);
          width: 150px;
          opacity: 1;
          cursor: text;
          color: #000; }
      header .nav-container nav.main-navigation .search-form .search-submit {
        display: none; }

/*
    Nav Bar style
 */
.nav-tabs {
  border-bottom: none; }

.nav-tabs > li > a {
  border: none;
  border-radius: 0; }
  .nav-tabs > li > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:visited {
    background-color: transparent; }

.nav-tabs > li.active > a {
  border: none;
  background-color: transparent; }
  .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:visited {
    border: none;
    background-color: transparent; }

.nav-tabs {
  display: inline-block; }

.nav-tabs > li > a::after {
  content: '';
  display: block;
  width: auto;
  height: 3px;
  background-color: #F4FBFF;
  opacity: 0;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all 320ms;
  -moz-transition: all 320ms;
  -ms-transition: all 320ms;
  -o-transition: all 320ms;
  transition: all 320ms; }
.nav-tabs > li > a:focus::after, .nav-tabs > li > a:hover::after, .nav-tabs > li > a:visited::after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.nav-tabs > li.active > a::after, .nav-tabs > li.active > a:focus::after, .nav-tabs > li.active > a:hover::after, .nav-tabs > li.active > a:visited::after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  height: 4px; }

.site-content {
  margin-top: 20px; }
  @media (max-width: 480px) {
    .site-content {
      margin-top: 1px; } }

/*
    Read More ... Link style
*/
a.more-link {
  padding: 3px 15px;
  background-color: #ff4d4d;
  color: #FFF;
  display: block;
  float: right;
  border-radius: 2px; }

/*
    entry meta
*/
.entry-meta {
  text-transform: uppercase;
  color: #95989A;
  /*margin-bottom: 15px;*/
  font-size: smaller; }
  .entry-meta a {
    color: #95989A; }
    .entry-meta a:hover {
      color: #626567; }

/*
    Entry Title
*/
.entry-title {
  text-transform: capitalize;
  color: #95989A;
  font-weight: bold;
  font-size: x-large; }

/*
    entry
*/
article.post {
  margin-top: 20px; }
  article.post::after {
    content: '';
    display: inline-block;
    border: 1px solid rgba(149, 152, 154, 0.25);
    width: 100%; }
  article.post:last-of-type::after {
    display: none; }

article.post.format-status .status-entry-container {
  background-color: #F4F4F4;
  position: relative; }
  article.post.format-status .status-entry-container .post-thumbnail-container {
    position: absolute;
    bottom: 30px;
    max-width: 150px;
    z-index: 1; }
    @media (min-width: 768px) {
      article.post.format-status .status-entry-container .post-thumbnail-container {
        bottom: 10px;
        max-width: 180px; } }
    @media (min-width: 992px) {
      article.post.format-status .status-entry-container .post-thumbnail-container {
        bottom: 20px; } }
    article.post.format-status .status-entry-container .post-thumbnail-container .post-thumbnail {
      border-radius: 50%;
      border: solid 1px #95989A;
      padding-top: 100%; }
  article.post.format-status .status-entry-container .entry-content {
    min-height: 130px;
    color: #95989A;
    padding-top: 7px;
    padding-left: 30px; }
    @media (min-width: 768px) {
      article.post.format-status .status-entry-container .entry-content {
        padding-left: 15px; } }
    @media (min-width: 992px) {
      article.post.format-status .status-entry-container .entry-content {
        min-height: 150px; } }
  article.post.format-status .status-entry-container .entry-footer {
    height: 36px;
    background-color: #EAEAEA;
    font-size: small;
    margin-bottom: 0;
    line-height: 36px; }

article.post.format-audio .entry-content {
  margin-top: 25px; }
  article.post.format-audio .entry-content .external-audio {
    margin-bottom: 15px; }
    article.post.format-audio .entry-content .external-audio .album-cover-container {
      max-width: 170px; }
      @media (min-width: 992px) {
        article.post.format-audio .entry-content .external-audio .album-cover-container {
          position: relative;
          left: 50%;
          transform: translateX(-50%); } }
      article.post.format-audio .entry-content .external-audio .album-cover-container .album-cover {
        padding-top: 100%; }
    article.post.format-audio .entry-content .external-audio .meta-container {
      height: 90px;
      position: relative; }
      article.post.format-audio .entry-content .external-audio .meta-container .play-pause, article.post.format-audio .entry-content .external-audio .meta-container .title {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      article.post.format-audio .entry-content .external-audio .meta-container .play-pause {
        border-radius: 50%;
        background-color: #FF5400;
        color: #FFF;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        z-index: 1; }
        article.post.format-audio .entry-content .external-audio .meta-container .play-pause:hover {
          cursor: pointer; }
        article.post.format-audio .entry-content .external-audio .meta-container .play-pause.icon-play {
          padding-left: 8px; }
        article.post.format-audio .entry-content .external-audio .meta-container .play-pause.icon-pause {
          padding-left: 0px; }
      article.post.format-audio .entry-content .external-audio .meta-container .title {
        padding-left: 80px;
        font-weight: bold;
        font-size: 15px; }
    article.post.format-audio .entry-content .external-audio .player {
      height: 50px;
      width: 100%;
      background-color: rgba(204, 204, 204, 0.66);
      border-radius: 4px;
      margin-top: 10px; }
      article.post.format-audio .entry-content .external-audio .player .current-time, article.post.format-audio .entry-content .external-audio .player .scrubber, article.post.format-audio .entry-content .external-audio .player .duration {
        width: 100%; }
      article.post.format-audio .entry-content .external-audio .player .current-time, article.post.format-audio .entry-content .external-audio .player .duration {
        line-height: 50px;
        font-weight: bold;
        opacity: 0.7; }
      article.post.format-audio .entry-content .external-audio .player .current-time {
        color: #FF3300; }
      article.post.format-audio .entry-content .external-audio .player .duration {
        color: #666; }
      article.post.format-audio .entry-content .external-audio .player .scrubber {
        height: 40px;
        background-color: #FFF;
        margin: 5px 0;
        position: relative;
        border-radius: 0; }
        article.post.format-audio .entry-content .external-audio .player .scrubber .loaded, article.post.format-audio .entry-content .external-audio .player .scrubber .progress, article.post.format-audio .entry-content .external-audio .player .scrubber .cursor-move, article.post.format-audio .entry-content .external-audio .player .scrubber .error-message {
          height: 40px;
          position: absolute;
          border-radius: 0; }
        article.post.format-audio .entry-content .external-audio .player .scrubber .loaded {
          background-color: #F4F4F4; }
        article.post.format-audio .entry-content .external-audio .player .scrubber .progress {
          background-color: #F53C00;
          opacity: .89; }
        article.post.format-audio .entry-content .external-audio .player .scrubber .cursor-move {
          background-color: #F53C00;
          opacity: .4; }
        article.post.format-audio .entry-content .external-audio .player .scrubber .error-message {
          background-color: #92969B;
          opacity: .5;
          z-index: 1;
          line-height: 40px;
          color: #FFF;
          width: 100%;
          display: none; }
      @media (min-width: 768px) {
        article.post.format-audio .entry-content .external-audio .player {
          width: 59%;
          position: absolute;
          transform: translateY(-61px) translateX(6px); } }
      @media (min-width: 992px) {
        article.post.format-audio .entry-content .external-audio .player {
          width: 68%;
          transform: translateY(-61px) translateX(-45px); } }
      @media (min-width: 1200px) {
        article.post.format-audio .entry-content .external-audio .player {
          width: 70%;
          transform: translateY(-75px) translateX(-55px); } }
article.post.format-audio .entry-footer {
  margin-top: 20px; }

article.post.format-video .entry-content {
  margin-top: 5px; }

@media (max-width: 991px) {
  header .nav-container {
    background-color: rgba(0, 0, 0, 0.15);
    transition-delay: 0.3s; }
    header .nav-container .main-navigation {
      position: absolute;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 2;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition-property: max-height;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      header .nav-container .main-navigation ul {
        display: block; }
      header .nav-container .main-navigation ul:last-of-type {
        margin-bottom: 2em; }
      header .nav-container .main-navigation li {
        display: block;
        width: 100%; }
        header .nav-container .main-navigation li .search-form .search-field:focus {
          width: 300px; }
    header .nav-container.is-active .main-navigation {
      max-height: 500px; }
    header .nav-container.is-active {
      background-color: rgba(0, 0, 0, 0.9);
      transition-delay: 0s; } }
.widget-area {
  margin-top: 10px; }
  .widget-area ul {
    padding-left: 0; }
  .widget-area li {
    list-style: none; }
    .widget-area li .widgettitle {
      font-size: large;
      text-align: center; }
    .widget-area li .textwidget {
      text-align: center; }

#jk-social-widget #jk-social-widget-tabs #sb_instagram {
  overflow: scroll !important; }
#jk-social-widget #jk-social-widget-tabs ul.ui-tabs-nav {
  display: block;
  text-align: center;
  font-size: 3em;
  padding: 0; }
  #jk-social-widget #jk-social-widget-tabs ul.ui-tabs-nav li {
    display: inline-block; }
    #jk-social-widget #jk-social-widget-tabs ul.ui-tabs-nav li a:focus {
      outline: none; }
    #jk-social-widget #jk-social-widget-tabs ul.ui-tabs-nav li .jk-icon.icon-instagram {
      color: #517FA4; }
    #jk-social-widget #jk-social-widget-tabs ul.ui-tabs-nav li .jk-icon.icon-facebook-square {
      color: #3B5997; }
    #jk-social-widget #jk-social-widget-tabs ul.ui-tabs-nav li .jk-icon.icon-images {
      color: #8f5dac; }
#jk-social-widget #jk-social-widget-tabs #official-account, #jk-social-widget #jk-social-widget-tabs #taiwan-fans-account {
  margin: 20px 0; }

.site-footer {
  margin: 60px auto 10px; }
  .site-footer #menu-footer {
    list-style: none;
    padding: 0;
    font-size: small;
    margin-bottom: 0; }
    .site-footer #menu-footer li {
      display: inline; }
      .site-footer #menu-footer li:after {
        content: ' | ';
        color: gray; }
      .site-footer #menu-footer li:last-child:after {
        display: none; }
  .site-footer .site-info {
    color: darkgray;
    font-size: smaller;
    margin-top: 15px; }

nav.post-navigation {
  margin-top: 20px;
  font-size: medium; }
  nav.post-navigation .screen-reader-text {
    display: none; }
  nav.post-navigation .nav-links .nav-previous, nav.post-navigation .nav-links .nav-next {
    display: inline-block; }
  nav.post-navigation .nav-links .nav-previous {
    float: left; }
  nav.post-navigation .nav-links .nav-next {
    float: right; }

nav.pagination {
  width: 100%; }
  nav.pagination .nav-links {
    text-align: center;
    position: relative; }
    nav.pagination .nav-links .prev, nav.pagination .nav-links .next {
      position: absolute;
      overflow: hidden; }
    nav.pagination .nav-links .prev {
      left: 0; }
    nav.pagination .nav-links .next {
      right: 0; }
    nav.pagination .nav-links .page-numbers {
      padding: 5px 10px; }

.post-navigation::after {
  content: '';
  display: table;
  clear: both; }

.image-wall-page .entry-content {
  text-align: center; }
  .image-wall-page .entry-content .page-views-container {
    border-radius: 4px;
    background-color: rgba(118, 85, 136, 0.9);
    position: relative;
    display: inline-block;
    min-width: 100px;
    padding: 17px 15px;
    margin-bottom: 5px; }
    .image-wall-page .entry-content .page-views-container span.page-views {
      color: #FFF;
      font-size: 25px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      display: inline-block;
      transform: translateY(-13px); }
    .image-wall-page .entry-content .page-views-container::after {
      display: block;
      content: 'Views';
      position: absolute;
      bottom: 0;
      left: 0;
      color: #FFF;
      width: 100%;
      height: 26px;
      text-align: center;
      border-top: 2px solid #FFF;
      font-size: 14px;
      font-weight: bold; }

ins.adsbygoogle {
  margin: 10px auto; }

/*# sourceMappingURL=theme-style.css.map */
