@import "sass_base/variables";
@import "sass_base/mixins";
@import "sass_base/shortcode-views-count";
@import "sass_base/instagram";
//@import "sass_base/ceaser-easing";

// ** clean links ** //
a {
  &, &:hover, &:visited, &:focus { text-decoration: none; }
}

// ** reset icon fonts line height ** //
[class^="icon-"]:before,
[class*=" icon-"]:before {
  line-height: inherit !important;
}

.row.no-gutter {margin-left:0;margin-right:0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0; }
.table {display:table;}
.table-cell {display:table-cell;}
.noscroll {overflow: hidden;}
.scroll {overflow: scroll;}
.screen-reader-text {width:0; height:0; position: absolute !important; overflow: hidden;}
.embed-responsive-ipad-portrait {padding-bottom: 133.3%;}
.embed-responsive-9by16 {padding-bottom: 177.78%;}
.embed-container {width:100%; position: relative; left: 50%; transform: translateX(-50%);}

body {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }

header { position: relative; background-repeat: no-repeat; background-position: top center; background-size: contain;
  .nav-container {position: absolute; bottom: 0; left: 0; right: 0; font-size: medium; font-weight: bold;border-radius: 0; margin-bottom: 0;background: rgba( 255,255,255,0.2); border-top: 1px solid rgba( 255,255,255,0.1); @include transition(background, 0.3s);
    // ** make up the sandwich ** //
    .nav-toggle {position: relative; width: 100%; height: 2.5em; background: transparent; border: none; margin: 0; padding: 0; z-index:3;
      &:focus {outline: none;}
      span {position: absolute; width: 2em; height: 4px; background: #FFF; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);
        &::before, &::after { content: ''; position: absolute; width: 100%; height: 100%; background: #FFF; left: 0;}
        &::before {top: -10px;}
        &::after {bottom: -10px;}

        // ** transition ** //
        &::before { transition-property: top, transform;}
        &::after {  transition-property: bottom, transform;}
        &::before, &::after { transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s; }
      }
    }
    // ** animate sandwich ** //
    &.is-active .nav-toggle {
      span{
        background: none;
        &::before {top: 0; transform: rotate(45deg);}
        &::after {bottom: 0; transform: rotate(-45deg);}
        &::before, &::after {transition-delay: 0s, 0.3s;}
      }
    }

    // ** style and animate search control ** //
    nav.main-navigation {
      .search-form { display: inline-block; position: relative; padding: 6px 15px; font-size: 1em; transform: translateY(2px);
        .jk-font.icon-search {position: absolute; left: 22px; top: 9px; }
        .search-field {padding: .2em .5em .05em 1.5em;border-radius: 2em; background: #fff; border: 1px solid #ccc; line-height: 1.7em; font-size: medium; font-weight: normal;width: 0; opacity: 0; cursor: pointer; @include transition(all, 500ms);
          &:focus {border-color: #66afe9; outline: 0; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6); width: 150px; opacity: 1; cursor: text; color: #000;}
        }
        .search-submit{ display: none; }


      }
    }

  }
}

/*
    Nav Bar style
 */
// ** clear bootstrap default style ** //
.nav-tabs {border-bottom: none;}
.nav-tabs>li>a{border: none; border-radius: 0;
  &:focus, &:hover, &:visited {background-color: transparent; }
}
.nav-tabs>li.active>a{border: none; background-color: transparent;
  &:focus, &:hover, &:visited {border: none; background-color: transparent;}
}
// ** establish new rules ** //
.nav-tabs {display: inline-block;}
.nav-tabs>li>a {
  &::after { content: ''; display: block; width: auto; height: 3px; background-color: $header-font-color; opacity: 0; @include transform(translateY(15px)); @include transition(all, 320ms); }
  &:focus, &:hover, &:visited {
    &::after { opacity: 1; @include transform(translateY(0)); }
  }
}
.nav-tabs>li.active>a {
  &, &:focus, &:hover, &:visited {
    &::after { opacity: 1; @include transform(translateY(0)); height: 4px;}
  }
}

.site-content { margin-top: 20px; @media (max-width: $screen-xs-min) {margin-top: 1px;} }

/*
    Read More ... Link style
*/
a.more-link {padding: 3px 15px; background-color: lighten(red, 15%); color: #FFF; display: block; border-radius: 2px; position:relative; left:50%; transform:translateX(-50%); width:120px; margin-top:13px; text-align: center;}

/*
    entry meta
*/
.entry-meta { text-transform: uppercase; color:$post-title-color; /*margin-bottom: 15px;*/ font-size: smaller;
  a {color: $post-title-color;
    &:hover {color: darken($post-title-color, 20%); }
  }
}

/*
    Entry Title
*/
.entry-title { text-transform: capitalize; color: $post-title-color; font-weight: bold; font-size: x-large;}

/*
    entry
*/
// ** general rules ** //
article.post { margin-top: 20px;
  &::after {content: ''; display: inline-block; border: 1px solid rgba(149, 152, 154, .25); width: 100%; }
  &:last-of-type::after {display: none;}
}

// ** status post format ** //

  // index and archive
article.post.format-status .status-entry-container { background-color: #F4F4F4; position: relative;
  .post-thumbnail-container { position: absolute; bottom: 30px; max-width: 150px; z-index: 1; @media (min-width: $screen-sm-min) {bottom: 10px; max-width: 180px;} @media (min-width: $screen-md-min) {bottom: 20px;}
    .post-thumbnail { border-radius: 50%; /*border: solid 1px #95989A;*/ padding-top: 100%; }
  }
  .entry-content { padding-bottom: 35px; min-height: 130px; color: $post-title-color; padding-top: 7px; padding-left: 30px; @media (min-width: $screen-sm-min) { padding-left: 15px;} @media (min-width: $screen-md-min) {min-height:150px;}}
  .entry-footer { height: 36px; background-color:#EAEAEA; font-size: small; margin-bottom: 0; line-height: 36px; }

  // hide share buttons in status post format, otherwise, it ruins the layout
  .sharedaddy {display: none;}

  // the more link
  a.more-link {position: absolute; left: 50%; bottom: 10px; background-color:rgba(162, 117, 187, .9); font-weight:bolder;}
}

  // single status post
.single-post.single-format-status .post {
  .entry-content { margin-top: 10px;
    .post-thumbnail {width: 100%; padding-bottom: 100%; border-radius: 50%;}
  }

  .entry-footer{}
}

// ** audio post format ** //
article.post.format-audio {
  .entry-content {margin-top: 25px;
    .external-audio { margin-bottom: 15px;
      .album-cover-container {max-width: 170px; @media (min-width: $screen-md-min) {position:relative; left:50%; transform:translateX(-50%);}
        .album-cover {padding-top: 100%;}
      }

      .meta-container { height: 90px; position: relative;
        .play-pause, .title { display: inline-block; position: absolute; top: 50%; transform: translateY(-50%);}
        .play-pause {border-radius: 50%; background-color: #FF5400; color: #FFF; width: 70px; height: 70px; line-height:70px; text-align: center;font-size:50px; z-index: 1;
          &:hover{cursor: pointer;}
          &.icon-play {padding-left: 8px;}
          &.icon-pause {padding-left: 0px;}
        }
        .title{padding-left: 80px; font-weight: bold; font-size: 15px;}

      }

      .player { height: 50px; width: 100%; background-color: rgba(204,204,204,.66); border-radius:4px; margin-top: 10px;
        .current-time, .scrubber, .duration {width: 100%; }
        .current-time, .duration {line-height: 50px; font-weight: bold; opacity: 0.7;}
        .current-time {color:#FF3300; }
        .duration {color:#666; }
        .scrubber {height: 40px; background-color: #FFF; margin: 5px 0; position: relative; border-radius: 0;
          .loaded, .progress, .cursor-move, .error-message { height: 40px; position: absolute; border-radius: 0;}
          .loaded {background-color: #F4F4F4;}
          .progress {background-color: #F53C00; opacity: .89;}
          .cursor-move {background-color: #F53C00; opacity: .4;}
          .error-message {background-color: #92969B; opacity: .5; z-index: 1; line-height: 40px; color: #FFF; width: 100%; display: none;}
        }

        @media (min-width: $screen-sm-min) {width: 59%; position: absolute; transform: translateY(-61px) translateX(6px);}
        @media (min-width: $screen-md-min) {width: 68%; transform: translateY(-61px) translateX(-45px); }
        @media (min-width: $screen-lg-min) {width: 70%; transform: translateY(-75px) translateX(-55px); }
      }
    }
  }
  .entry-footer {margin-top: 20px;}
}

// ** video post format ** //
article.post.format-video {
  .entry-content {margin-top: 5px;}
}

// ** primary navigation on small & md screens ** //
@media (max-width: $screen-md-max) {
  header .nav-container { background-color: rgba(0,0,0,0.15); transition-delay: 0.3s;
    .main-navigation { position:absolute; left: 0; background-color: rgba(0,0,0,0.9); z-index:2; width: 100%; max-height: 0;overflow:hidden; transition-property: max-height; transition-duration: 0.6s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      ul {display: block;}
      ul:last-of-type { margin-bottom: 2em; } // add some margin below menu
      li {display: block; width: 100%; // stretch each menu item to take up the full width
        .search-form {
          .search-field:focus {width:300px;}
        }
      }
    }
    &.is-active .main-navigation {max-height:500px; } // animate max-height, because animating height doesn't work
    &.is-active { background-color: rgba(0,0,0,0.9); transition-delay: 0s; // animate background

    }

  }
}


// ** Widgets ** //
.widget-area{ margin-top: 10px;
  ul {padding-left: 0;}
  li { list-style: none;
    .widgettitle {font-size: large; text-align: center;}
    .textwidget { text-align: center;
    }
  }

}

// ** Kelly's Social Widget ** //
#jk-social-widget #jk-social-widget-tabs {
  #sb_instagram {overflow: scroll !important;}
  ul.ui-tabs-nav { display: block; text-align: center; font-size: 3em; padding: 0;
    li { display: inline-block;
      a:focus {outline: none; }
      .jk-icon {
        &.icon-instagram {color: #517FA4;}
        &.icon-facebook-square {color: #3B5997;}
        &.icon-images {color: #8f5dac;}
      }

    }
  }
  #official-account, #taiwan-fans-account {margin: 20px 0;}
}


.site-footer {margin: 60px auto 10px;

  // footer policy menu
  #menu-footer {
    list-style: none;
    padding: 0;
    font-size: small;
    margin-bottom: 0;

    li {
      display:inline;

      // divider
      &:after {
        content: ' | ';
        color: $baseColor-dark;

      }
      &:last-child:after {
        display: none;
      }
    }
  }

  .site-info {
    color: $baseColor-light;
    font-size: smaller;
    margin-top: 15px;
  }
}

// ** Single ** //
nav.post-navigation{ margin-top: 20px; font-size: medium;
  .screen-reader-text {display: none;}
  .nav-links { position: relative; height: 3em;
    .nav-previous, .nav-next {display: inline-block; position: absolute;}
    .nav-previous {left: 0;
      &::before {content: '<< 上一篇'; display: block;}
    }
    .nav-next {right: 0;
      &::before {content: '下一篇 >>'; display: block;}
    }
  }
}

// ** Pagination ** //
nav.pagination {width: 100%;
  .nav-links { text-align: center; position: relative;
    .prev, .next {position: absolute; overflow: hidden;}
    .prev {left: 0; }
    .next {right: 0; }
    .page-numbers { padding: 5px 10px;}
  }

}

// ** Post Navigation ** //
.post-navigation {
  &::after {content:''; display: table; clear: both;} // clearfix
}

// ** image wall page ** //
.image-wall-page .entry-content { text-align: center;

}

// ** Google Ads ** //
ins.adsbygoogle {margin: 10px auto;}

// ** Facebook Comment Plugin ** //
div[id^=wpdevar_comment] {
  &>span{  display: block; background-color: #262626; color: #FFF !important; position: relative; padding: 0 10px 5px 20px !important; margin-bottom: 10px; margin-left: -20px;
    .icon-comment-discussion {position: relative; top: 4px;}

    &::after {content: ''; position: absolute; left: 0; bottom: -20px; border-width: 20px 0 0 20px; border-style: solid; border-color: #A9A9A9 transparent;}
  }
}


// ** Post Thumbnail ** //
.post.format-standard .post-thumbnail { height: 300px;
}