/*
      Mixins
      -------------------------
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition( $attr, $time ) {
  -webkit-transition: $attr $time;
  -moz-transition: $attr $time;
  -ms-transition: $attr $time;
  -o-transition: $attr $time;
  transition: $attr $time;
}

@mixin transform( $val ) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/**
Usage: @include keyframes(name) {
          ...rules...
        }
 */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animate($animation-name, $duration) {

  -webkit-animation-name: $animation-name; -webkit-animation-duration: $duration;
  -moz-animation-name: $animation-name; -moz-animation-duration: $duration;
  -o-animation-name: $animation-name; -o-animation-duration: $duration;
  animation-name: $animation-name; animation-duration: $duration;
}