.jk_playlist { background: #444;
  .ttw-music-player { margin: 0 auto; padding: 20px 0;
    .player {
      .album-cover { width: 115px; height: 115px;
        .img {width: 115px; height: 115px;
          img {width: 115px; height: 115px; }
        }
        .highlight {width: 115px; height: 115px; }
      }
      .title {font-size: 16px;}
      .artist-outer {font-size: 11px;}
      .player-controls {margin-left: 20px; margin-top: 0;}
    }

    .tracklist { font-size: 14px;
      .tracks{
        .track {
          .title { width: 95%;}
          .duration {display: none; }
        }
      }
    }
  }
}